/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
/* ============================ */
/* ============================ */
/* FONTS */
/* ============================ */
/* ============================ */
/* FLUID IMAGES */
img, embed, object, video, iframe {
  max-width: 100%; }

/* ============================ */
/* ============================ */
/* SETTINGS */
input {
  outline: none; }

button, textarea {
  outline: none !important; }

img {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #08329a; }
  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  margin-bottom: 20px; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

b, strong {
  font-weight: bolder; }

i {
  font-style: italic; }

small, .small {
  font-size: 85%; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* ELEMENTS */
.text ol, .text ul, .text dir, .text menu, .text dd {
  margin-left: 40px;
  margin-bottom: 20px; }
.text ol {
  list-style-type: decimal; }
.text ul {
  list-style-type: disc; }
.text ol ul, .text ul ol, .text ul ul, .text ol ol {
  margin-top: 0;
  margin-bottom: 0; }
.text ul ul, .text ol ul {
  list-style-type: circle;
  margin-left: 30px; }
.text ol ol, .text ul ol {
  list-style-type: lower-latin;
  margin-left: 30px; }
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin-top: 1em; }
.text p {
  line-height: 1.5em; }
.text.inner {
  padding: 40px !important; }

.caption {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: bold; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

/* ============================ */
/* ============================ */
/* MAIN STYLES */
body {
  font-family: 'Open Sans', sans-serif;
  color: #222; }

header {
  background-color: #f3f5f9; }
  header .navbar {
    background-color: transparent;
    border-color: transparent; }
    header .navbar .navbar-brand img {
      height: 20px; }
    header .navbar .navbar-brand:hover img {
      fill: #222; }

section {
  padding-top: 40px;
  padding-bottom: 40px; }

.hero {
  background-color: #f3f5f9; }
  .hero .description {
    margin-bottom: 60px; }
    .hero .description h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #222; }

/*# sourceMappingURL=style.css.map */
