/* Author: Pavel Mednikov (hello@pavelmednikov.com) */
/* ============================ */
/* ============================ */
/* FONTS */
/* ============================ */
/* ============================ */
/* FLUID IMAGES */
img, embed, object, video, iframe {
  max-width: 100%; }

/* ============================ */
/* ============================ */
/* SETTINGS */
input {
  outline: none; }

button, textarea {
  outline: none !important; }

img {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  line-height: normal;
  color: #08329a; }
  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    margin-top: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #08329a;
  border-bottom: 1px solid #08329a; }
  a:hover, a:focus {
    text-decoration: none; }

b, strong {
  font-weight: bolder; }

i {
  font-style: italic; }

small, .small {
  font-size: 85%; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* ELEMENTS */
.dark-bg {
  color: #fff; }
  .dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6 {
    color: #fff; }
  .dark-bg a {
    color: #fff;
    text-decoration: underline; }
    .dark-bg a:hover {
      color: #fff; }

.text ol, .text ul, .text dir, .text menu, .text dd {
  margin-left: 40px;
  margin-bottom: 20px; }
.text ol {
  list-style-type: decimal; }
.text ul {
  list-style-type: disc; }
.text ol ul, .text ul ol, .text ul ul, .text ol ol {
  margin-top: 0;
  margin-bottom: 0; }
.text ul ul, .text ol ul {
  list-style-type: circle;
  margin-left: 30px; }
.text ol ol, .text ul ol {
  list-style-type: lower-latin;
  margin-left: 30px; }
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6, .text h2, .text h3, .text h4, .text h5, .text h6 {
  margin-top: 1em; }
.text p {
  line-height: 1.5em; }
.text.inner {
  padding: 40px !important; }

.caption {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: bold; }

.btn {
  border-radius: 0;
  border: none; }

.btn-primary {
  background-color: #08329a; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #222; }

.navbar .navbar-nav li a {
  color: #08329a; }
.navbar .navbar-nav .open a:hover, .navbar .navbar-nav .open a:focus {
  color: #222;
  background-color: #f3f5f9; }

.row-eq-height {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-40 {
  margin-right: 40px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-40 {
  margin-left: 40px; }

/* ============================ */
/* ============================ */
/* MAIN STYLES */
body {
  font-family: 'Open Sans', sans-serif;
  color: #222; }

header {
  background-color: #f3f5f9; }
  header .navbar {
    background-color: transparent;
    border-color: transparent; }
    header .navbar .navbar-brand img {
      height: 20px; }
    header .navbar .navbar-brand:hover img {
      fill: #222; }
  header a {
    border-bottom: none; }

section {
  padding-top: 40px;
  padding-bottom: 40px; }
  section:nth-child(even) {
    background-color: #f3f5f9; }

.hero {
  padding-top: 40px; }
  .hero .description {
    margin-bottom: 60px; }

.title {
  padding-top: 0;
  padding-bottom: 20px; }

.featured {
  background-color: #f3f5f9; }

.subheading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #222;
  margin-bottom: 40px; }

.price .panel-info {
  border: 0;
  box-shadow: 0 3rem 4rem rgba(8, 50, 154, 0.15); }
  .price .panel-info .panel-heading {
    background-color: #fff;
    color: #fff;
    border-color: #ddd; }

.cta {
  background-color: #08329a; }

.hiw .hiw-card {
  margin-bottom: 40px; }
  .hiw .hiw-card .fa {
    margin-bottom: 10px;
    color: #98abdb; }
.hiw.feature .hiw-card {
  position: relative;
  margin-bottom: 20px;
  padding: 40px 20px 20px;
  border: 1px solid #f3f5f9;
  background-color: #fff;
  box-shadow: 0 3rem 4rem rgba(8, 50, 154, 0.15);
  overflow: hidden; }
  .hiw.feature .hiw-card .num {
    position: absolute;
    top: -100px;
    left: -10px;
    font-size: 250px;
    font-weight: bold;
    color: #f3f5f9; }
  .hiw.feature .hiw-card .fa, .hiw.feature .hiw-card h5, .hiw.feature .hiw-card p {
    position: relative; }

.contact-form h1, .contact-form h2, .contact-form h3, .contact-form h4, .contact-form h5, .contact-form h6 {
  margin-bottom: 40px; }

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/
section {
  padding-top: 100px;
  padding-bottom: 100px; }

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px; }

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
#fade-quote-carousel.carousel {
  padding-bottom: 60px; }

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px; }

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #08329a;
  border: none; }

#fade-quote-carousel blockquote {
  text-align: center;
  border: none; }

#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
